* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: #222;
  text-decoration: none;
  outline: none;
}
a:hover,
a:active {
  text-decoration: none;
  color: #222;
}
body {
  background-color: #005353;
  font-size: 16px;
}
p,
span,
b,
a,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: "Noto Sans CJK KR";
}
br {
  white-space: pre-wrap;
}

button {
  font-family: "Noto Sans CJK KR";
  cursor: pointer;
}
.App {
  width: 100%;
  margin: 0 auto;
  min-width: 425px;
}
.wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 100px 15px 60px;
}

/* Header */

.header {
  width: 100%;
  border-bottom: solid 1px #e3e3e3;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #005353;
  z-index: 999;
}
.header .logo {
  color: #e3e3e3;
  font-weight: 100;
}
.header .wrap {
  width: 100%;
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
.header .wrap .btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .hd-btn {
  position: relative;
  display: block;
  text-align: center;
  width: 88px;
  padding: 10px;
  margin-left: 10px;
  border: solid 1px #e3e3e3;
  border-radius: 10px;
  color: #e3e3e3;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  background-color: #005353;
  font-size: 1rem;
}
.header .hd-btn:hover {
  color: #005353;
  background-color: #e3e3e3;
}

.header .hd-btn .hd-badge {
  position: absolute;
  top: -6px;
  right: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: crimson;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

/* Login, register */

.login .title,
.register .title {
  color: #e3e3e3;
  font-size: 4rem;
  font-weight: normal;
  padding: 60px 0;
}

.login .input-title,
.register .input-title {
  color: #e3e3e3;
  font-size: 1.5rem;
  padding-bottom: 20px;
}

.login .text-input,
register .text-input {
  width: 100%;
  padding: 20px;
  font-size: 1.25rem;
  margin-bottom: 20px;
  border: none;
  box-sizing: border-box;
}
.goRegi {
  display: block;
  text-align: center;
  color: #e3e3e3;
  padding-top: 30px;
}
.goRegi:hover {
  color: #e3e3e3;
}

/* Card */

/* default position */
.card-list {
  padding: 0 0 60px;
}
.card {
  width: 100%;
  background-color: #e3e3e3;
  margin-bottom: 20px;
}

.card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.card .nickname {
  font-size: 1rem;
  font-weight: normal;
}
.card-date {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card-date span {
  font-size: 12px;
  color: #a7a7a7;
}
.card-date button {
  padding: 4px 10px;
  color: #005353;
  background-color: #e3e3e3;
  border: solid 1px #005353;
  border-radius: 4px;
  margin-left: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.card-date button:hover {
  background-color: #005353;
  color: #e3e3e3;
}
.card-image {
  display: block;
  width: 100%;
  padding-bottom: 100%;
  cursor: pointer;
}
.card-bottom {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-bottom: solid 2px #005353;
}
.btn-like {
  border: none;
  background-color: #e3e3e3;
  color: crimson;
  padding-right: 4px;
}
.btn-like-list {
  border: none;
  background-color: #e3e3e3;
  display: block;
}
.card-desc {
  padding: 10px;
  white-space: pre-wrap;
}
.card-comment {
  padding: 10px;
  border-top: 1px solid #7f9797;
}
.card-comment .title {
  font-size: 1rem;
}
.card-comment .default-msg {
  color: #a7a7a7;
  font-size: 14px;
}

/* left position */
.card-left {
  display: flex;
  justify-content: center;
  background-color: #e3e3e3;
  margin-bottom: 20px;
}
.card-left .card-image {
  flex-basis: 50%;
}
.card-contents {
  flex-basis: 50%;
  height: 100%;
  width: 100%;
}
.card-content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #005353;
}
.card-contents .nickname {
  font-size: 1rem;
  font-weight: normal;
}
.card-mod button {
  padding: 4px 10px;
  color: #005353;
  background-color: #e3e3e3;
  border: solid 1px #005353;
  border-radius: 4px;
  margin-left: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.card-mod button:hover {
  background-color: #005353;
  color: #e3e3e3;
}
.card-contents .card-like {
  padding: 0 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.card-contents .card-date {
  display: block;
  font-size: 12px;
  color: #a7a7a7;
  padding: 5px 10px;
}

/* right position */

/* Write */

.write .title {
  color: #e3e3e3;
  font-size: 3rem;
  font-weight: normal;
}
.write .img-upload {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}
.write .img-url {
  padding: 10px;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #e3e3e3;
  overflow: hidden;
  color: #e3e3e3;
}
.write .img-btn {
  flex-shrink: 1;
  background-color: #005353;
  border: 1px solid #e3e3e3;
  padding: 10px;
  color: #e3e3e3;
  height: 50px;
  width: 88px;
  margin-left: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
}
.write .img-btn:hover {
  background-color: #e3e3e3;
  color: #005353;
}
.write .img-preview {
  width: 100%;
  padding-bottom: 40px;
}
.write .img-preview img {
  width: 100%;
}
.write .description {
  font-size: 1.25rem;
  color: #e3e3e3;
  width: 100%;
  background-color: #005353;
  border: none;
  border-bottom: 1px solid #e3e3e3;
  resize: none;
  overflow: hidden;
  min-height: 38px;
}
.write .description:focus {
  outline: none;
}
.write .description::placeholder {
  color: #a7a7a7;
}

.write .post-text {
  margin-bottom: 20px;
}
.pp-inbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
.position-input + label {
  flex-basis: 30%;
  flex-shrink: 1;
  display: block;
  border: 1px solid #e3e3e3;
  /* width: 100%; */
  text-align: center;
  padding: 20px;
  color: #e3e3e3;
  cursor: pointer;
}
.position-input[type="radio"]:checked + label {
  background-color: #e3e3e3;
  color: #005353;
}

/* 삭제 완료 페이지 */

.delcom {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.delcom p {
  font-size: 1.25rem;
  color: #e3e3e3;
  padding-bottom: 30px;
}
.delcom a {
  color: #a7a7a7;
}
.delcom a:hover {
  color: #e3e3e3;
}

/* 좋아요 리스트 */

.like-list {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.like-list .inbox {
  position: absolute;
  width: 370px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e3e3e3;
  border-radius: 10px;
  overflow: hidden;
}
.like-list-top {
  padding: 10px;
  border-bottom: 1px solid #005353;
  position: relative;
}
.like-list-top .title {
  text-align: center;
}

.like-list-top .close {
  position: absolute;
  top: 6px;
  right: 6px;
  color: #005353;
  background-color: #e3e3e3;
  border: 1px solid #005353;
  padding: 4px 10px;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}
.like-list-top .close:hover {
  background-color: #005353;
  color: #e3e3e3;
}
.like-list-bottom .mem-length {
  padding: 10px;
  text-align: center;
  color: #a7a7a7;
  background-color: #e3e3e3;
}
.like-list-bottom .like-user-inbox {
  overflow: auto;
  max-height: 416px;
}
.like-list-bottom .like-user {
  padding: 5px 10px;
}

/* 상세페이지 */
.card-detail {
  width: 100%;
}

.card-detail .contents {
  background-color: #e3e3e3;
}

.detail-image {
  width: 100%;
}

.detail-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid #005353;
}
.detail-top .nickname {
  font-size: 1.5rem;
}

.detail-btn {
  background-color: #e3e3e3;
  border: 1px solid #005353;
  border-radius: 4px;
  color: #005353;
  cursor: pointer;
  margin-left: 8px;
  padding: 4px 10px;
  transition: all 0.2s ease-in-out;
}

.detail-btn:hover {
  background-color: #005353;
  color: #e3e3e3;
}
.detail-mid {
  padding: 10px;
  border-bottom: 1px solid #7f9797;
}
.detail-content {
  min-height: 100px;
}
.detail-date {
  color: #a7a7a7;
  font-size: 12px;
}
.detail-like {
  display: flex;
  align-items: center;
  justify-content: start;
}
.detail-btn-like {
  border: none;
  background-color: #e3e3e3;
  color: crimson;
  padding-right: 4px;
}

.detail-like-list {
  background-color: #e3e3e3;
  border: none;
}

.detail-comment {
  padding: 10px;
}
.detail-comment .title {
  font-size: 1rem;
}

.detail-comment .default-msg {
  color: #a7a7a7;
  font-size: 14px;
}
